:root{
    --item-name-color:#535766;
}
.component-card{
    display: flex;
}
.card{
    position: relative;
    width:fit-content;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem;
    margin: 1rem;
    font-size:1rem;
    font-weight:400;
}
.wishlist{
    display: none;
}
.card:hover > .wishlist {
    display: block;
    /* position: absolute;
    bottom: 6rem; */
    margin:1rem 0 0 1rem;
    background-color: inherit;
    border:1px solid black;
    width:fit-content;
    width:10rem;
    align-self: center;
}
/* .card:hover > .Item-name {
    display: none;
}
.card:hover > .Item-price{
    display: none;
}
.card:hover > .Item-discount{
    display: none;
} */
.card:hover>.Item{
    display: none;
}
.Item{
    font-size: 0.75rem;
    font-weight:300;
}
.Item-name{
    margin: 0.5rem 0 0.5rem 0;
    color:var(--item-name-color);
}
.Item-price{
   
    font-size: 13px;
    font-weight: 800;
}
.Item-discountPercentage{
    color :red;
}
.badge{
    font-size: 0.75rem;
    position: absolute;
    top:3rem;
    left:1rem;
    background-color: rgb(124, 219, 80);
    color:whitesmoke;
   
}
.badge::after{
    position: absolute;
    content:'';
    border-color: rgb(124, 219, 80) transparent rgb(124, 219, 80)
    rgb(124, 219, 80);
   
     border-style: solid;
     border-width: 7px;

}
.x{
 display: flex;
 box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.card-content{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    align-items: space-evenly;
}
.card-btn{
    margin: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%; 
    border: 1px solid whitesmoke;
    outline: none;
    cursor: pointer;
}
.card-image{
    width: 8opx;
}
@media screen and (max-width: 600px){
    .component-card{
display: flex;
flex-direction: column;

    }
    .x{
        width:fit-content;
    }
}