<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="avatar.css">
    <link rel="stylesheet" href="/components/sideNav/sideNav.css">
  
    <title>Avatar</title>
</head>
<body>
    <nav class='navigation-bar' >
        <div class='list-parent-left' id='symbol'>
            <a class='li-link'href='../../index.html'> <h3>Chikku<span style='color:rgb(10, 177, 10)'>Ui</span></h3> </a>  
        </div>
        <div class='list-parent-right' id='modal'>
            <a  href="javascript:void(0);" class="li-icon" onclick="modelFunction()">
                <i class="fa fa-bars"></i>
              </a>
              <a class='li-link' href='../../index.html'> Home</a>
              <a class='li-link' href='index.html'>Documentation</a>
              <a class='li-link' target='_blank' href='https://github.com/vineeth-t/Main/tree/Devlopment'>Github</a>
          
        </div>
        </nav>
        <header class='header' >
            <div class='menu-list' id='menu-items'>
                <a class="li-link link-active" href='/components/alert/index.html'>Alert</a>
                <a class="li-link link-active" href='index.html'>Avatar</a>
                <a class="li-link" href='/components//Badge/index.html'>Badge</a>
                <a class="li-link " href='/components/Buttons/index.html'>Button</a>
                <a class="li-link " href='/components/Card/index.html'>Cards</a>
                <a class="li-link" href='/components/List/index.html'>Lists</a>
             
                <button class='Float-btn Floating-btn-x' onclick="floatingOff()">X</button> 
            </div>
            <div class='component-content'>
                <button class='Float-btn Floating-btn' onclick="floatingAction()"><></button>
                <div>
                    <h2>Avatar</h2>
                    <p class='content-txt'>Avatar's are used to identify the person or thing or an animal</p>
                    <hr><br/>
            </div>
            <div>
                    <h2>Avatar</h2><br/>
                <div class='avatar-area'>
                  
                    <div class='avatar-content'>
                        <p>Round Avtar</p><br/>
                        <img class='avatar' src='https://pbs.twimg.com/profile_images/1376773906007220227/il_FCYD__400x400.jpg' alt='image-avtar'>
                        <img class='avatar ' src='https://pbs.twimg.com/profile_images/1249238596386603008/oKCMO1iM_400x400.jpg' alt='image-avtar'>
                        <img class='avatar ' src='https://pbs.twimg.com/profile_images/1085109696489435137/1nKrp4FE_400x400.jpg' alt='image-avtar'>
                    </div>
                   
                   
            </div>
            <div><hr><br/>
            <div class='avatar-area'>
                
                <div class='avatar-content'>
                    <p>Sized Avtar</p><br/>
                    <img class='avatar s' src='https://pbs.twimg.com/profile_images/1376773906007220227/il_FCYD__400x400.jpg' alt='image-avtar'>
                    <img class='avatar md' src='https://pbs.twimg.com/profile_images/1249238596386603008/oKCMO1iM_400x400.jpg' alt='image-avtar'>
                    <img class='avatar lg' src='https://pbs.twimg.com/profile_images/1085109696489435137/1nKrp4FE_400x400.jpg' alt='image-avtar'>
                </div>
               
               
        </div>
</header>
        <script type="text/javascript" src="/components/Header/header.js"></script>
</body>
</html>
