.list{
   list-style-type: none;
  text-align: center;
  padding: 1rem;
}
.list li{
    margin: 0.5rem;
    display:inline-block;
}
.stacked li{
    padding: 1rem;
    text-align: center;
    display:block;
}