
.bdg-av{
    display:flex;
    flex-direction: row;
}
:root{
    --online:rgb(49, 218, 49);
    --offline:yellow;
    --onCall:red;
    --whislist:rgb(209, 86, 86);
    --notification:rgb(52, 139, 221);
    --badge:white;
    --text-background:black;
    --font-color:rgb(185, 184, 184);
}
.badge-on-avtar{
    position: relative;
    margin: 1rem;
}

/* .avtar{
    cursor: pointer;
    border-radius: 50%; 
  
} */
.badge{
    position: absolute;
    top:4.5rem;
    left:4.5rem;
    width:1rem;
    height: 1rem;
    border-radius: 50%; 
    border: 3px solid var(--badge)
}
.badgeStatus{
    display:none;
}
.online{
    background-color: var(--online)
}
.offline{
    background-color: var(--offline)
}
.onCall{
    background-color: var(--onCall)
}
.badge-on-avtar:hover > .badgeStatus {
    position: absolute;
    top:6rem;
    display: block;
    text-align: center;
    overflow: hidden;
    border:1px solid var(--badge);
    background-color:var(--text-background);
    color:var(--font-color);
}
.badge-on-icon{
    position:relative;
    margin: 1rem;
 
}
.cart{
    position: absolute;
    display: flex;
    justify-content: center;
    width:1.25rem;
    height: 1.25rem;
    top: 0rem;
    left: 1.2rem; 
    border-radius: 50%;
    background-color: var(--online);
}
.wishlist{
    background-color:var(--whislist) ;
}
.notification{
    background-color:var(--notification)
}

