:root{
    --error-color:#f50057;
    --success-color:green;
    --waring-color:#fbbf24;
}
.alert-area{
   align-items: center;
   margin-left: 10rem;
}
.alert{
    border: 1px solid black;
    padding: 0.5rem;
    margin: 1rem;
    text-align: center;
    width: 15rem;
    border-radius: 2rem;
}
.error{
    color: var(--error-color);
    border-color:var(--error-color);   
}
.success{
    color:var(--success-color);
    border-color:var(--success-color);
}
.warning{
    color:var(--waring-color);
    border-color: var(--waring-color);
}
@media screen and (max-width: 600px){
    .alert-area{
       margin-left: 2rem;
    }   
}
