.alert-area{
   align-items: center;
   margin-left: 206px;
}
.alert{
    border: 1px solid black;
    padding: 0.5rem;
    margin: 1rem;
    text-align: center;
    width: 15rem;
    border-radius: 2rem;
}
.error{
    color: #f50057;
    border-color: #f50057;
    
}
.success{
    color:green;
    border-color:green;

}
.warning{
    color:#fbbf24;
    border-color: #fbbf24;
}
@media screen and (max-width: 600px){
    .alert-area{
       margin-left: 50px;
    }
    
}
