<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Side Nav Bar</title>
    <link rel="stylesheet" href="sideNav.css">
</head>
<body>
    <nav class='navigation-bar' >
        <div class='list-parent-left' id='symbol'>
            <a class='li-link'href='#'> <h3>Chikku<span style='color:rgb(10, 177, 10)'>Ui</span></h3> </a>  
        </div>
        <div class='list-parent-right' id='modal'>
            <a  href="javascript:void(0);" class="li-icon" onclick="modelFunction()">
                <i class="fa fa-bars"></i>
              </a>
              <a class='li-link'href='#'> Home</a>
              <a class='li-link'href='#'>Documentation</a>
              <a class='li-link'href='#'>Github</a>
              <!-- <a class='li-link'href='#'>V0.1</a> -->
            </div>
    </nav>
    <header class='header' >
        <div class='menu-list'>
            <a class="li-link component" href='/components/Badge/index.html'>Badge</a>
            <a class="li-link component" href='/components/Buttons/index.html'>Button</a>
            <a class="li-link component" href='#'>Cards</a>
            <a class="li-link component" href='#'>Images</a>
            <a class="li-link component" href='#'>Lists</a>
        </div>
        <div class='component-content'>
            xyzasdwewe
        </div>
    </header>
    
    <script type="text/javascript" src="header.js"></script>
</body>
</html>