@import "/components/Header/header.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
:root{
    --primary-color:black;  
    --primary-btn-color:rgb(10, 177, 10);

}
.header{
    font-weight: 400;
    font-size:1rem;
    display: grid;
    grid-template-areas: "abc xyz";
    grid-template-columns: 0.3fr 1fr;
     grid-column-gap: 4rem;
     
}
.menu-list{
    grid-area:'abc';
    display: flex;
    flex-direction: column;
    padding-left: 10rem;
    cursor: pointer;
    border-right:1px solid rgb(196, 189, 189);
    width: fit-content
}
.menu-list a{
    margin: 1rem;

}
.link-active{
    font-weight: 800;
    color:var( --primary-btn-color) ;
    border-right:1px solid rgb(0, 236, 0);
    }
    
.component-content{

    grid-area:'xyz';
    width:80%;
  
}
.content-txt{
    font-weight: 350;
    font-size: 1rem;
    margin: 1rem 0 1rem 0;
}
.menu-list :hover{
color:var(--primary-btn-color);
}
 .Float-btn{
    display: none;
}

@media screen and (max-width: 600px){
.menu-list{
position: fixed;
display: none;
width: 100%;
height: 100%;
top: 0;
left: 0;
right: 0;
bottom: 0;
text-align: center;
background-color:white;
  z-index: 2;
 padding-left: 0px;
  cursor: pointer;
}

.header{
    display :flex;
}
.component-content{
    position: relative;
    display:flex;
    flex-direction: column;
    margin: 1rem 9%; 
    width:90%;   
}
.component{
    padding: 0rem;
}
.Floating-btn{
    display: block;
    position: fixed;
    width:3rem;
    height:3rem;
    bottom: 5rem;
    right:1rem;
    border-radius: 50%;
    background-color:var(--primary-btn-color);
    border: none;
    z-index: 2;
    /* outline: none; */
    /* box-shadow: inset 0 0 0 0.15em #000; */   
}
.Floating-btn-x{
    display: block;
    position: fixed;
    top:1rem;
    right:2rem;
    background-color:inherit;
    border:none;
    
}
}